{% extends 'layout.html.twig' %}
{% block title %}Eggs Or Again{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/style.css">
<link href="https://fonts.googleapis.com/css?family=Lato:100,300,600" rel="stylesheet" type="text/css">
<link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<style>
    .box-img-player-1 {
        background-image: url("{{ perso1.image }}");
        background-size: 125px 150px;
        background-repeat:no-repeat;
    }
    .box-img-player-2 {
        background-image: url("{{ perso2.image }}");
        background-size: 125px 150px;
        background-repeat:no-repeat;
    }

</style>


<div class="main clearfix">
    <form action="" method="post">
        <div class="player-1-left {% if session.player == "player_2" %} inactive {% endif %}"><!-- TODO TWIG ACTIVE CLASS ?-->
            <div class="player-name" id="name-0">{{session.username1}}</div>
            <div class="player-score
                {% if session.player == "player_2" %} pacity0 {% endif %}
                " id="score-0">
                {% if session.player == "player_1" %} {{session.intermediateCounter}}  {% endif %}
                    {% if session.player == "player_2" %} 0 {% endif %}
            </div>
            <div class="box-img-player-1"></div>
            <div class="panier-box box-player-1">
                <div class="panier">Panier</div>
                <div class="score" id="score-ingame-player-1">{{session.player1}}</div>
            </div>
        </div>
        
        <div class="player-2-right {% if session.player == "player_1" %} inactive {% endif %}"><!-- TODO TWIG ACTIVE CLASS ?-->
            <div class="player-name" id="name-1">{{session.username2}}  </div>
            <div class="player-score
                {% if session.player == "player_1" %} pacity0 {% endif %}
                " id="score-1">
                {% if session.player == "player_2" %} {{session.intermediateCounter}}  {% endif %}
                    {% if session.player == "player_1" %} 0 {% endif %}
            </div>
            <div class="panier-box box-player-2">
                <div class="panier">Panier</div>
                <div class="score" id="score-ingame-player-2">{{session.player2}}</div>
            </div>
            <div class="box-img-player-2"></div>
        </div>
        
        <button class="btn-play" name="play" value="true"><i class="ion-ios-loop"></i>Roll Eggs</button>
        <button class="btn-hold" name="hold" value="true"><i class="ion-ios-download-outline"></i>Hold</button>
        

        <img src="{{egg.image}}" alt="" class="image movingEgg" id="image">
        <p class="egg-name ">{{egg.name}}</p>
        <p class="egg-point 
{% if egg.rarity == "junk" %} lost  {% endif %}
        ">{{egg.rarityValue}}</p>

    </form>
    
    <!-- https://cdn.shopify.com/s/files/1/0993/5182/products/CXBO_Chocolate_Disco_Egg_large.png?v=1519913456 -->
</div>

<div class="btnEaster">
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Small modal</button>
</div>
<div class="modal fade bd-example-modal-sm" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-sm" data-keyboard="true">
       <div class="modal-content">
       <p class="easter">+[----->+++<]>+++.+++++.++++++++++.--[->+++<]>.[--->+<]>--.--.++++[->+++<]>.[--->+<]>----.+[---->+<]>+++.[-->+++++++<]>.+[->++<]>.[-->+<]>.++++.++[->+++<]>.[--->+<]>----.<br />(Joyeuses Pâques en Brainfuck) </p>
       </div>
   </div>
</div>
{% endblock %}
{% block javascript %}<script src="/assets/js/modal.js"></script>
{% endblock %}
